.schedule {
  text-align: center;
  width: 100%;
  margin-bottom: 32px;
}

.schedule__group {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 400px;
}

.schedule__image {
  height: 100%;
  border-radius: 8%;
}

.schedule__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  height: 100%;
}

.schedule__item-timing {
  font-size: 1.5rem;
  font-weight: 400;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}