.location {
  margin-bottom: 32px;
  text-align: center;
}

.location__group {
  height: 350px;
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
}

.location__image-wrapper {
  flex: 1;
}

.location__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h2, h4 {
  margin: 0;
}

h4 {
  font-weight: 400;
}