.intro {
  margin-bottom: 32px;
}

.intro__images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.intro__image-small {
  height: 300px;
}

.intro__image-large {
  width: 100%;
  margin-left: 24px;
  margin-right: 24px;
}